body {
    color: rgb(255, 255, 255);
    overflow-x: hidden;
    height: 100%;
    background-color: #fdfdfd;
    background-repeat: no-repeat;
    text-decoration-color: #fff;
}

form {
    display: flex;
    justify-content: center;
    margin: 10px;
}


form input {
    margin-right: 10px;
}

#location{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #fff;
    
    background-color: transparent;
    color: #fff;
}

#location::placeholder {
    color:rgb(255, 255, 255);
    opacity: 1;
}

.card {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/801/329/277/nature-cabin-winter-snow-wallpaper-preview.jpg");
    background-size: cover;
    width: 600px;
    height: 370px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 4px #9E9E9E;
    margin-top: 50px;
    margin-bottom: 50px
}

.time-font {
    font-size: 50px
}

.sm-font {
    font-size: 18px
}

.med-font {
    font-size: 28px
}

.large-font {
    font-size: 60px
}